---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__footer {
  background-color: #8ea9a2 !important;  /* 원하는 색상으로 변경 */
  color: #ffffff !important;             /* 텍스트 색상 */
}
